USE [master]
GO
/****** Object:  Database [Uni_library]    Script Date: 11/16/2025 11:04:50 PM ******/
CREATE DATABASE [Uni_library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Uni_library', FILENAME = N'F:\Microsoft SQL Studio Management Setup\MSSQL16.SQLEXPRESS\MSSQL\DATA\Uni_library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Uni_library_log', FILENAME = N'F:\Microsoft SQL Studio Management Setup\MSSQL16.SQLEXPRESS\MSSQL\DATA\Uni_library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Uni_library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Uni_library]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/16/2025 11:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Book_id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Author] [nvarchar](100) NULL,
	[Publisher] [nvarchar](100) NULL,
	[Category] [nvarchar](100) NULL,
	[ISBN] [nchar](13) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 3) NULL,
	[RackNo] [int] NULL,
	[DateAdded] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/16/2025 11:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
